.container {
	margin: 0 auto;
	width: 940px;
}

.header__nav {
	position: absolute;
	width: 100%;	
	top: 20px;
	left: 0;
	right: 0;
	padding: 20px 0;
}

.header__logo {
	float: left;
	width: 79px;
	height: 28px;
}

.header__menu {	
	float: right;
	padding-top: 5px;
	list-style-type: none;
}

.header__menu__li {
	float: left;
	margin-right: 40px;
}

.header__menu__li:last-child {
	margin-right: 0;
}

.header__menu__links {
	color: #ffffff;
	font-family: "Arial";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;	
}

.header__menu__links:hover {
	color: #bfaa3d;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.header__content {
	background: url(../img/bg-header.jpg) no-repeat;
	text-align: center;
	padding-top: 300px;
}

.header__h3 {
	color: #ffffff;
	font-family: "Arial";
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 40px;
}

.header__h1 {
	color: #ffffff;
	font-family: "Arial";
	font-size: 75px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.header__btn {
	background-color: #fed136;
	color: #ffffff;
	font-family: "Arial";
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 18px 28px;
	border-radius: 4px;
	border: none;
	margin-bottom: 160px;
}

.header__btn:hover {
	color: #000;
	background-color: #d1af04;
}

.main__services,
.main__portfolio,
.main__about-us,
.main__team {
	text-align: center;
}

.main__title {
	margin-top: 120px;
	color: #222222;
	font-family: "Arial";
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

.main__p {
	margin-top: 20px;
	color: #777777;
	font-family: "Times New Roman PSMT";
	font-size: 16px;
	font-weight: 400;
}

.main__services__wrapper {
	display: flex;
	margin-top: 80px;
}

.wrapper__img {
	margin-bottom: 25px;
}

.wrapper__h3 {
	color: #222222;
	font-family: "Arial";
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
}

.wrapper__p {
	color: #777777;
	font-family: "Times New Roman PSMT";
	font-size: 18px;
}

.wrapper__e-commerse,
.wrapper__responsive {
	margin-right: 60px;
}

.portfolio__title {
	margin-top: 230px;
}

.main__portfolio__wrapper {
	margin-top: 75px;
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 400px 400px;
	grid-gap: 80px 35px;
}

.portfolio__wrapper__h3 {
	margin-top: 30px;
}

.portfolio__wrapper__p {
	margin-top: 5px;
}

.about-us__title {
	margin-top: 265px;
}

.main__about-us__wrapper {
	margin-top: 85px;
	display: grid;
	grid-template-columns: 289px 300px 288px;
	grid-template-rows: 182px 94px 182px 94px 182px 94px 182px 94px 182px;
}

.main__about-us__wrapper h3 {
	line-height: 25px;
}

.about-us__wrapper__beginnings {
	text-align: right;
	grid-column-start: 1;
	grid-column-end: 1;
   	grid-row-start: 1;
   	grid-row-end: 1;
}

.about-us__wrapper__beginnings-img {
	margin: 0 auto;
	grid-column-start: 2;
	grid-column-end: 2;
   	grid-row-start: 1;
   	grid-row-end: 1;
   	border: 7px #E3F5A9 solid;
   	border-radius: 50%;
}

.about-us__wrapper__line1 {
	margin: 0 auto;
	background-color: #E3F5A9;
	width: 7px;
	height: 94px;
	grid-column-start: 2;
	grid-column-end: 2;
   	grid-row-start: 2;
   	grid-row-end: 2;
}

.about-us__wrapper__startup-img {
	margin: 0 auto;
	grid-column-start: 2;
	grid-column-end: 2;
   	grid-row-start: 3;
   	grid-row-end: 3;
   	border: 7px #E3F5A9 solid;
   	border-radius: 50%;
}

.about-us__wrapper__startup {
	text-align: left;
	grid-column-start: 3;
	grid-column-end: 3;
   	grid-row-start: 3;
   	grid-row-end: 3;
}

.about-us__wrapper__line2 {
	margin: 0 auto;
	background-color: #E3F5A9;
	width: 7px;
	height: 94px;
	grid-column-start: 2;
	grid-column-end: 2;
   	grid-row-start: 4;
   	grid-row-end: 4;
}

.about-us__wrapper__dark-days {
	text-align: right;
	grid-column-start: 1;
	grid-column-end: 1;
   	grid-row-start: 5;
   	grid-row-end: 5;
}

.about-us__wrapper__dark-days-img {
	margin: 0 auto;
	grid-column-start: 2;
	grid-column-end: 2;
   	grid-row-start: 5;
   	grid-row-end: 5;
   	border: 7px #E3F5A9 solid;
   	border-radius: 50%;
}

.about-us__wrapper__line3 {
	margin: 0 auto;
	background-color: #E3F5A9;
	width: 7px;
	height: 94px;
	grid-column-start: 2;
	grid-column-end: 2;
   	grid-row-start: 6;
   	grid-row-end: 6;
}

.about-us__wrapper__triumph-img {
	margin: 0 auto;
	grid-column-start: 2;
	grid-column-end: 2;
   	grid-row-start: 7;
   	grid-row-end: 7;
   	border: 7px #E3F5A9 solid;
   	border-radius: 50%;
}

.about-us__wrapper__triumph {
	text-align: left;
	grid-column-start: 3;
	grid-column-end: 3;
   	grid-row-start: 7;
   	grid-row-end: 7;
}

.about-us__wrapper__line4 {
	margin: 0 auto;
	background-color: #E3F5A9;
	width: 7px;
	height: 94px;
	grid-column-start: 2;
	grid-column-end: 2;
   	grid-row-start: 8;
   	grid-row-end: 8;
}

.about-us__wrapper__story-link {
	margin: 0 59px;
	padding-top: 50px;
	grid-column-start: 2;
	grid-column-end: 2;
   	grid-row-start: 9;
   	grid-row-end: 9;
   	border: 7px #E3F5A9 solid;
   	border-radius: 50%;
   	background-color: #fed136;
   	color: white;
   	text-transform: uppercase;
   	text-decoration: none;
   	font-family: "Arial";
	font-size: 18px;
	font-weight: bold;
}

.about-us__wrapper__story-link:hover {
	color: #000;
}

.main__about-us__wrapper span {
	text-transform: uppercase;
}

.main__team__team {
	margin-top: 245px;
}

.main__team__wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}

.main__team__wrapper img {
	margin-bottom: 25px;
}

.team__social {
	margin-top: 15px;
}

.team__social a {
	margin-right: 9px;
	display: inline-block;
	width: 41px;
	height: 41px;
	border: 3px solid #222222;
	border-radius: 50%;
	background-image: url(../img/social-sprite.png);
}

.team__social a:last-child {
	margin-right: 0;
}

.team__social__twitter {
	background-position: 3px 3px;
}

.team__social__twitter:hover {
	background-color: #00aced;
	background-position: 3px -36px;
	border-color: #00aced;
}

.team__social__facebook {
	background-position: -37px 2px;
}

.team__social__facebook:hover {
	background-color: #3b5998;
	border-color: #3b5998;
	background-position: -38px -37px;
}

.team__social__pinterest {
	background-position: -77px 2px;
}

.team__social__pinterest:hover {
	background-color: #cb2028;
	border-color: #cb2028;
	background-position: -77px -37px;
}

.team__social__google {
	background-position: -120px 4px;
}

.team__social__google:hover {
	background-color: #d95232;
	border-color: #d95232;
	background-position: -120px -36px;
}

.main__team__p {
	margin-top: 50px;
}

.main__team__brands {
	margin-top: 180px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__contact-us {
	background-color: #222222;
	background-image: url(../img/map.png);
	background-repeat: no-repeat;
	background-position: 730px 138px;
}

.footer__title {
	margin-top: 70px;
	padding-top: 110px;
	color: #ffffff;
	font-family: "Arial";
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.footer__p {
	margin-top: 25px;
	color: #777777;
	font-family: "Times New Roman PSMT";
	font-size: 16px;
	text-align: center;
}

.footer__form {
	margin-top: 75px;
	display: grid;
	grid-template-columns: 485px 455px;
}

.form__input__name {
	grid-column: 1 / 1;
   	grid-row: 1 / 1;
   	margin-bottom: 30px;
   	margin-right: 30px;
   	text-transform: uppercase;
   	padding: 20px;
   	color: #bbbbbb;
	font-family: "Arial";
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	border: none;
}

.form__input__email {
	grid-column: 1 / 1;
   	grid-row: 2 / 2;
   	margin-bottom: 30px;
   	margin-right: 30px;
   	text-transform: uppercase;
   	padding: 20px;
   	color: #bbbbbb;
	font-family: "Arial";
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	border: none;
}

.form__input__subject {
	grid-column: 1 / 1;
   	grid-row: 3 / 3;
   	margin-right: 30px;
   	text-transform: uppercase;
   	padding: 20px;
   	color: #bbbbbb;
	font-family: "Arial";
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 30px;
	border-radius: 4px;
	border: none;
}

#form__textarea {
	grid-column: 2 / 2;
   	grid-row: 1 / 4;
   	text-transform: uppercase;
   	padding: 20px;
   	color: #bbbbbb;
	font-family: "Arial";
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 30px;
	border-radius: 4px;
	border: none;
}

.footer__form__btn {
   	margin: 0 auto;
   	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 5;
	width: 240px;
	height: 66px;
	background-color: #fed136;
	color: #ffffff;
	font-family: "Arial";
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	border-radius: 4px;
	margin-bottom: 115px;
}

.footer__form__btn:hover {
	color: #000;
}

.copyright {
	display: flex;
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	align-items: center;
}

.copyright__p {
	margin-right: 110px;
}

.footer__copyright__social a {
	margin-right: 9px;
	display: inline-block;
	width: 41px;
	height: 41px;
	border: 3px solid #222222;
	border-radius: 50%;
	background-color: #222222;
	background-image: url(../img/social-sprite.png);
}

.footer__copyright__social a:last-child {
	margin-right: 0;
}

.footer__social__twitter {
	background-position: 3px -36px;
}

.footer__social__twitter:hover {
	background-color: #00aced;
	background-position: 3px -36px;
	border-color: #00aced;
}

.footer__social__facebook {
	background-position: -38px -37px;
}

.footer__social__facebook:hover {
	background-color: #3b5998;
	border-color: #3b5998;
	background-position: -38px -37px;
}

.footer__social__pinterest {
	background-position: -77px -37px;
}

.footer__social__pinterest:hover {
	background-color: #cb2028;
	border-color: #cb2028;
	background-position: -77px -37px;
}

.footer__social__google {
	background-position: -120px -36px;
}

.footer__social__google:hover {
	background-color: #d95232;
	border-color: #d95232;
	background-position: -120px -36px;
}