header {
	background: url(../img/header-bg.jpg) no-repeat;
	background-size: cover;
	background-position: 0 -134px;
}

.container {
	width: 600px;
	margin: 0 auto;
}

.header__nav {
	text-align: center;
	display: flex;
}

.header__logo {
	padding-top: 65px;
}

nav {
	display: flex;
	justify-content: center;
	margin-top: 45px;
}

nav a {
	margin-right: 40px;
	text-decoration: none;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}

nav a:hover {
	color: #ffc72d;
}

.header__content {
	text-align: center;
	display: flex;
	justify-content: center;
}

.header__content__descr {
	display: flex;
	justify-content: center;
	align-items: center;
}

.line__left {
	margin-top: 45px;
	margin-right: 30px;
}

.line__right {
	margin-top: 45px;
	margin-left: 30px;
}

h1 {
	margin-top: 80px;
	color: #ffffff;
	font-family: Ubuntu;
	font-size: 53px;
	font-weight: 700;
	text-transform: uppercase;
}

.header__content p {
	margin-top: 45px;
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.header__content__btn {
	margin-top: 85px;
	margin-bottom: 120px;
	background-color: #50c3af;
	color: #f5f5f5;
	font-family: "PT Sans";
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 30px;
	border: none;
	padding: 20px 50px;
}

.header__content__btn:hover {
	background-color: #50c392;
	color: #ffc72d;
}

@media screen and (max-width: 767px) {
	
	.header__content__btn {
		margin-bottom: 200px;
	}

}

.main__features__wrapper {
	margin-top: 55px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	background-color: #eeeeef;
}

.wrapper__h3 {
	margin-top: 30px;
	color: #384048;
	font-family: "PT Sans";
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.featurs__wrapper__profesionals h3 {
	margin-top: 40px;
}

.featurs__wrapper__amateurs h3 {
	margin-top: 37px;
}

.featurs__wrapper__for-everyone h3 {
	margin-top: 31px;
}

.wrapper__p {
	margin-top: 50px;
	color: #787b80;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
}

@media screen and (max-width: 767px) {
	
	.main__features__wrapper {
		margin-top: 0;
		flex-wrap: wrap;
	}

	.featurs__wrapper__profesionals {
		flex: 1 1 100%;
		order: 1;
		margin-bottom: 50px;
	}

	.featurs__wrapper__amateurs {
		flex: 1 1 100%;
		order: 2;
		margin-bottom: 50px;
	}

	.featurs__wrapper__for-everyone {
		flex: 1 1 100%;
		order: 3;
	}

}

.main__template {
	margin-top: 133px;
}

.main__template__wrapper-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper-1__responsive {
	margin-right: 61px;
}

.wrapper-1__btn {
	margin-top: 34px;
	padding: 11px 17px;
	background-color: #50c3af;
	color: #f5f5f5;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
	border-radius: 30px;
	border: none;
}

.wrapper-1__btn:hover {
	background-color: #50c392;
	color: #ffc72d;
}

@media screen and (max-width: 767px) {

	.main__template__wrapper-1 {
		flex-wrap: wrap;
		text-align: center;
	}

	.wrapper-1__responsive {
		flex: 1 1 100%;
		order: 1;
		margin-bottom: 50px;
		margin-right: 0;
	}

	.wrapper-1__compatible {
		flex: 1 1 100%;
		order: 2;
	}

}

.main__tepmlate__wrapper-2 {
	margin-top: 146px;
	background-color: #eeeeef;
}

.wrapper-2__head {
	display: flex;
	align-items: center;
}

.wrapper-2__head h3 {
	margin-top: 0;
	margin-left: 15px;
}

@media screen and (max-width: 767px) {

	.main__tepmlate__wrapper-2 {
		flex-wrap: wrap;
		text-align: center;
	}

	.wrapper-2__head {
		justify-content: center;
	}

}

.main__template__wrapper-3 {
	display: flex;
	margin-top: 122px;
}

.layered-psd,
.compatibility {
	margin-right: 24px;
}

.main__template__wrapper-3 p {
	margin-bottom: 28px;
}

.main__template__wrapper-3 a {
	color: #50c3af;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}

.main__template__wrapper-3 a:hover {
	color: #000;
}

@media screen and (max-width: 767px) {

	.main__template__wrapper-3 {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.layered-psd,
	.compatibility {
		margin-right: 0;
		margin-bottom: 50px;
	}

}

.main__template__wrapper-4 {
	display: flex;
	margin-top: 136px;
	background-color: #eeeeef;
}

.send-it,
.nice-to-see {
	display: flex;
}

.send-it h3,
.nice-to-see h3 {
	margin-top: 0;
	margin-left: 14px;
}

.wrapper-4__send-it {
	margin-right: 89px;
}

@media screen and (max-width: 767px) {

	.main__template__wrapper-4 {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.wrapper-4__send-it {
		margin-right: 0;
		margin-bottom: 50px;
	}

	.send-it,
	.nice-to-see {
		justify-content: center;
	}

}

.main__template__wrapper-5 {
	display: flex;
	margin-top: 122px;
	margin-bottom: 62px;
}

.wrapper-5__content {
	margin-left: 36px;
}

.wrapper-5__content h3 {
	margin-top: 0;
}

@media screen and (max-width: 767px) {

	.main__template__wrapper-5 {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.main__template__wrapper-5 img {
		margin-bottom: 50px;
	}

	.wrapper-5__content {
		margin-left: 0;
	}

}

footer {
	background-color: #50c3af;
}

.footer__brands {
	text-align: center;		
}

.footer__title {
	display: flex;
	padding-top: 53px;
	justify-content: center;
	align-items: center;
	margin-bottom: 22px;
}

.footer__h3 {
	margin-left: 8px;
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.brands__block {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 73px;
}

@media screen and (max-width: 767px) {

	.brands__block {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.tech-crunch {
		flex: 1 1 50%;
		margin-bottom: 50px;
	}

	.promail {
		flex: 1 1 50%;
		margin-bottom: 50px;
	}

	.mashable {
		flex: 1 1 50%;
	}

	.atlaspix {
		flex: 1 1 50%;
	}

}

.footer__copyright {
	margin-top: 24px;
	margin-bottom: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__copyright p {
	color: #aaacaf;
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: 400;
}

.footer__copyright span {
	color: #787b80;
}

.google {
	margin-right: 14px;
}

.facebook {
	margin-right: 19px;
}

@media screen and (max-width: 767px) {

	.footer__copyright {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.footer__social {
		flex: 1 1 100%
		order: 1;
		margin-bottom: 40px;
	}

	.footer__copyright p {
		flex: 1 1 100%;
		order: 2;
	}

}